@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

h1{
    background-color: grey;
    border: solid;

}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

article{
    background-color: rgba(105, 105, 105, 0.514);
}

aside{
    background-color: gray;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 30px;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.356);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}

footer > p{
    margin: 0px;
}

nav{
    background-color: rgb(54, 54, 54);
    padding: 5px;
    box-shadow: 5px 2px 7px 1px rgba(0, 0, 0, 0.493);
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

nav:hover{
    text-decoration: underline;
}

div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}